<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HDP_DBMSystem.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HDP_DBMSystem.Properties.Settings.HDPurchasingConnection"
            connectionString="Data Source=TJ-PC;Initial Catalog=HDPurch;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HDP_DBMSystem.Properties.Settings.AnalysisServices"
            connectionString="Provider=MSOLAP.8;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=HDPurchasingPredictiveAnalysis;Data Source=TJ-PC;Impersonation Level=Impersonate;Location=TJ-PC;Update Isolation Level=2" />
        <add name="HDP_DBMSystem.Properties.Settings.reportServerConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=TJ-PC;Integrated Security=SSPI;Initial Catalog=ReportServer"
            providerName="System.Data.OleDb" />
        <add name="HDP_DBMSystem.Properties.Settings.AnalyticsConnectionString"
            connectionString="Provider=MSOLAP.7;Data Source=TJ-PC;Persist Security Info=False;Initial Catalog=HDPurchasingPredictiveAnalysis;Location=TJ-PC;Update Isolation Level=2"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <HDP_DBMSystem.Settings>
            <setting name="SaveUser" serializeAs="String">
                <value>Save User Preferences</value>
            </setting>
        </HDP_DBMSystem.Settings>
    </userSettings>
</configuration>